@mixin centerTotalFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tagTypeSize {
  width: 4.0788rem;
  height: 1.5rem;
  text-align: center;
}

@mixin pokeCoresTipos {
  &.grass {
    color: var(--type-grass);
    background-color: rgba(115, 184, 97, 0.1);
  }
  &.bug {
    color: var(--type-bug);
    background-color: rgba(155, 186, 72, 0.1);
  }
  &.dark {
    color: var(--type-dark);
    background-color: rgba(89, 87, 97, 0.1);
  }
  &.dragon {
    color: var(--type-dragon);
    background-color: rgba(44, 106, 193, 0.1);
  }
  &.electric {
    color: var(--type-electric);
    background-color: rgba(212, 188, 52, 0.1);
  }
  &.fairy {
    color: var(--type-fairy);
    background-color: rgba(226, 150, 225, 0.1);
  }
  &.fighting {
    color: var(--type-fighting);
    background-color: rgba(196, 77, 97, 0.1);
  }
  &.ground {
    color: var(--type-ground);
    background-color: rgba(206, 128, 86, 0.1);
  }
  &.ice {
    color: var(--type-ice);
    background-color: rgba(113, 186, 172, 0.1);
  }
  &.normal {
    color: var(--type-normal);
    background-color: rgba(144, 144, 144, 0.1);
  }
  &.poison {
    color: var(--type-poison);
    background-color: rgba(172, 106, 202, 0.1)
  }
  &.psychic {
    color: var(--type-psychic);
    background-color: rgba(235, 139, 133, 0.1);
  }
  &.rock {
    color: var(--type-rock);
    background-color: rgba(132, 190, 179, 0.1);
  }
  &.steel {
    color: var(--type-steel);
    background-color: rgba(101, 148, 161, 0.1);
  }
  &.water {
    color: var(--type-water);
    background-color: rgba(79, 119, 190, 0.1);
  }
  &.fire {
    color: var(--type-fire);
    background-color: rgba(233, 99, 3, 0.1);
  }
  &.flying {
    color: var(--type-flying);
    background-color: rgba(117, 140, 189, 0.1);
  }
  &.ghost {
    color: var(--type-ghost);
    background-color: rgba(97, 110, 183, 0.1);
  }
}

@mixin pokeBackgroundType {
  &[type-pokemon-modal='grass'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/grass.svg');
      }
    }
  }
  &[type-pokemon-modal='bug'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/bug.svg');
      }
    }
  }
  &[type-pokemon-modal='dragon'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/dragon.svg');
      }
    }
  }
  &[type-pokemon-modal='electric'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/electric.svg');
      }
    }
  }
  &[type-pokemon-modal='fairy'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/fairy.svg');
      }
    }
  }
  &[type-pokemon-modal='fighting'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/fighting.svg');
      }
    }
  }
  &[type-pokemon-modal='ground'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/ground.svg');
      }
    }
  }
  &[type-pokemon-modal='ice'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/ice.svg');
      }
    }
  }
  &[type-pokemon-modal='normal'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/normal.svg');
      }
    }
  }
  &[type-pokemon-modal='poison'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/poison.svg');
      }
    }
  }
  &[type-pokemon-modal='psychic'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/psychic.svg');
      }
    }
  }
  &[type-pokemon-modal='rock'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/rock.svg');
      }
    }
  }
  &[type-pokemon-modal='ghost'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/ghost.svg');
      }
    }
  }
  &[type-pokemon-modal='steel'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/steel.svg');
      }
    }
  }
  &[type-pokemon-modal='water'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/water.svg');
      }
    }
  }
  &[type-pokemon-modal='fire'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/fire.svg');
      }
    }
  }
  &[type-pokemon-modal='flying'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/flying.svg');
      }
    }
  }
  &[type-pokemon-modal='dark'] {
    .box {
      .left-container {
        background-image: url('../img/bg-types/dark.svg');
      }
    }
  }
}